In [10]:
import pandas as pd
sav_df = pd.read_csv("savant_data (1).csv")
df2 = pd.read_csv("savant_data.csv")
df2

,pitches,player_id,player_name,total_pitches,pitch_percent,ba,iso,babip,slg,woba,...,pos4_int_start_distance,pos5_int_start_distance,pos6_int_start_distance,pos7_int_start_distance,pos8_int_start_distance,pos9_int_start_distance,pitcher_run_exp,run_exp,bat_speed,swing_length
0,888,605141,"Betts, Mookie",888,100.0,0.341,0.222,0.353,0.562,0.435,...,152,122,146,303,322,295,-24.5,24.5,67.357151,6.836834
1,878,592450,"Judge, Aaron",878,100.0,0.266,0.302,0.308,0.568,0.415,...,152,123,146,307,330,295,-11.3,11.3,74.661370,8.039224
2,870,665742,"Soto, Juan",871,99.9,0.313,0.246,0.319,0.559,0.419,...,146,125,151,296,326,300,-19.7,19.7,73.939411,7.221840
3,849,668227,"Arozarena, Randy",849,100.0,0.162,0.168,0.189,0.329,0.266,...,151,121,147,301,327,293,11.4,-11.4,70.540093,7.266620
4,847,660271,"Ohtani, Shohei",847,100.0,0.350,0.311,0.386,0.661,0.460,...,146,127,151,300,325,307,-18.4,18.4,73.913648,7.536559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,5,676070,"Amaya, Jacob",5,100.0,0.000,0.000,0.000,0.000,0.000,...,150,118,152,294,316,284,0.4,-0.4,68.087740,6.775060
499,4,543518,"McGough, Scott",4,100.0,0.000,0.000,NaN,0.000,0.000,...,153,119,149,267,289,254,0.8,-0.8,56.729123,5.050550
500,2,675915,"Bañuelos, David",2,100.0,0.000,0.000,0.000,0.000,0.000,...,154,124,149,308,323,296,0.1,-0.1,67.361546,7.473230
501,2,693049,"Colás, Oscar",2,100.0,0.000,0.000,0.000,0.000,0.000,...,148,104,143,287,307,278,0.3,-0.3,73.972536,8.528130
502,1,657088,"Wall, Forrest",1,100.0,0.000,0.000,0.000,0.000,0.000,...,150,128,152,297,325,308,0.5,-0.5,73.586242,6.686330

In [46]:
import pandas as pd
import numpy as np
df = pd.read_csv("2021sample.csv")
path = "2021sample.csv"
def load_data(path):
    df = pd.read_csv(path)
    return df

In [44]:

df.replace(['None', 'NaN'], pd.NA, inplace=True)
df[['on_3b','on_2b','on_1b']] = df[['on_3b','on_2b','on_1b']].notna().astype(int)
df = df.dropna(subset= ['zone'])
df['inzone'] = np.where((df['zone'] >=1) & (df['zone'] <= 9),1,0)
df = df.drop(df.columns[0],axis = 1)
df['description'].unique().tolist()

['ball',
 'swinging_strike',
 'called_strike',
 'hit_into_play',
 'blocked_ball',
 'foul',
 'foul_tip',
 'missed_bunt',
 'swinging_strike_blocked',
 'pitchout',
 'foul_bunt',
 'hit_by_pitch',
 'bunt_foul_tip']

In [45]:
remove_descrips = ['pitchout','foul_bunt','bunt_foul_tip','hit_by_pitch','missed_bunt']
df = df[~df['description'].isin(remove_descrips)]
df['description'].unique().tolist()
swing_descs = ['swinging_strike','hit_into_play','foul','foul_tip','swinging_strike_blocked']
df['swing'] = np.where((df['description'].isin(swing_descs)),1,0)

,pitch_type,release_speed,zone,stand,p_throws,description,type,bb_type,balls,strikes,on_3b,on_2b,on_1b,outs_when_up,pitch_number,inzone,swing
0,SI,94.2,13.0,L,R,ball,B,NaN,1,1,1,1,1,1,3,0,0
1,CU,75.6,4.0,R,R,swinging_strike,S,NaN,0,0,0,1,0,2,1,1,1
2,FF,89.7,6.0,R,L,called_strike,S,NaN,3,0,0,0,0,2,4,1,0
3,FF,93.0,2.0,R,R,hit_into_play,X,line_drive,1,2,0,0,1,2,6,1,1
4,SI,92.2,12.0,R,R,called_strike,S,NaN,2,2,0,0,0,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,SL,87.4,5.0,R,R,foul,S,NaN,0,0,0,0,1,1,1,1,1
49996,CH,79.2,9.0,R,R,hit_into_play,X,ground_ball,3,2,1,0,1,2,9,1,1
49997,FF,95.3,2.0,L,R,hit_into_play,X,line_drive,0,1,0,0,0,2,2,1,1
49998,FF,94.7,4.0,R,R,called_strike,S,NaN,3,0,0,0,1,2,4,1,0
49999,FF,93.0,6.0,R,R,called_strike,S,NaN,0,0,0,0,1,1,1,1,0

In [59]:
def clean_data(df):
    df.replace(['None', 'NaN'], pd.NA, inplace=True)
    df[['on_3b','on_2b','on_1b']] = df[['on_3b','on_2b','on_1b']].notna().astype(int)
    df = df.dropna(subset= ['zone'])
    df['inzone'] = np.where((df['zone'] >=1) & (df['zone'] <= 9),1,0)
    df = df.drop(df.columns[0],axis = 1)
    df['description'].unique().tolist()
    remove_descrips = ['pitchout','foul_bunt','bunt_foul_tip','hit_by_pitch','missed_bunt']
    df = df[~df['description'].isin(remove_descrips)]
    df['description'].unique().tolist()
    swing_descs = ['swinging_strike','hit_into_play','foul','foul_tip','swinging_strike_blocked']
    df['swing'] = np.where((df['description'].isin(swing_descs)),1,0)
    
    return df

df = clean_data(load_data(path))
df
df['runners'] = df[['on_3b','on_2b','on_1b']].sum(axis = 1)
df

/tmp/ipykernel_218/974515009.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inzone'] = np.where((df['zone'] >=1) & (df['zone'] <= 9),1,0)

,pitch_type,release_speed,zone,stand,p_throws,description,type,bb_type,balls,strikes,on_3b,on_2b,on_1b,outs_when_up,pitch_number,inzone,swing,runners
0,SI,94.2,13.0,L,R,ball,B,NaN,1,1,1,1,1,1,3,0,0,3
1,CU,75.6,4.0,R,R,swinging_strike,S,NaN,0,0,0,1,0,2,1,1,1,1
2,FF,89.7,6.0,R,L,called_strike,S,NaN,3,0,0,0,0,2,4,1,0,0
3,FF,93.0,2.0,R,R,hit_into_play,X,line_drive,1,2,0,0,1,2,6,1,1,1
4,SI,92.2,12.0,R,R,called_strike,S,NaN,2,2,0,0,0,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,SL,87.4,5.0,R,R,foul,S,NaN,0,0,0,0,1,1,1,1,1,1
49996,CH,79.2,9.0,R,R,hit_into_play,X,ground_ball,3,2,1,0,1,2,9,1,1,2
49997,FF,95.3,2.0,L,R,hit_into_play,X,line_drive,0,1,0,0,0,2,2,1,1,0
49998,FF,94.7,4.0,R,R,called_strike,S,NaN,3,0,0,0,1,2,4,1,0,1
49999,FF,93.0,6.0,R,R,called_strike,S,NaN,0,0,0,0,1,1,1,1,0,1

In [67]:
def create_strike_subset(df):
    two_strike = df[df['strikes'] == 2]
    return two_strike
def create_outzone_subset(df):
    out_of_zone = df[df['inzone'] == 0]
    return out_of_zone
out_zone = create_outzone_subset(df)
out_zone

,pitch_type,release_speed,zone,stand,p_throws,description,type,bb_type,balls,strikes,on_3b,on_2b,on_1b,outs_when_up,pitch_number,inzone,swing,runners
0,SI,94.2,13.0,L,R,ball,B,NaN,1,1,1,1,1,1,3,0,0,3
4,SI,92.2,12.0,R,R,called_strike,S,NaN,2,2,0,0,0,0,5,0,0,0
5,CH,88.8,13.0,R,R,blocked_ball,B,NaN,2,2,0,0,1,2,5,0,0,1
6,FF,94.6,12.0,L,L,ball,B,NaN,1,2,0,0,0,0,4,0,0,0
8,FF,90.3,14.0,R,L,called_strike,S,NaN,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49990,CU,75.3,14.0,R,R,swinging_strike_blocked,S,NaN,1,2,0,0,0,0,4,0,1,0
49991,FF,91.7,12.0,R,R,ball,B,NaN,0,2,0,0,0,1,3,0,0,0
49992,FF,99.6,12.0,L,R,ball,B,NaN,0,0,0,0,1,2,1,0,0,1
49993,CU,79.6,14.0,R,R,ball,B,NaN,0,1,0,0,0,2,2,0,0,0
49994,FF,92.9,12.0,R,R,ball,B,NaN,0,2,0,0,0,2,4,0,0,0

In [80]:

import statsmodels.api as sm

def swing_reg(df):
    result = df['swing']
    predictors = df[['runners','strikes','outs_when_up','balls']]
    model = sm.Logit(result,predictors).fit(cov_type = 'HC1')
    print(model.summary())
def protect_plate_reg(df):
    balls_sub = create_outzone_subset(df)
    result = balls_sub['swing']
    predictors = balls_sub[['runners','strikes','outs_when_up','balls']]
    model = sm.Logit(result,predictors).fit(cov_type = 'HC1')
    print(model.summary())